*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(10, 10, 10),rgb(16, 22, 40));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
    color: whitesmoke;
    
}
.hero h1 span{
    color: goldenrod;
}
textarea{
    width: 600px;
    height: 300px;
    background:#403d84;
    color: white;
    font-size: 15px;
    outline: 0;
    border: none;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
  font-size: 17px;
  color: #ddd;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: #343333;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 35px;
    display: flex;
    align-items: center;
}
button img{
    width: 18px;
    margin-right: 10px;
    
}
select{
    flex: 1;
    color: white;
    background:#31303e;
    padding: 0 20px;
    height: 50px;
    outline: 0;
    border: 0;
    appearance: none;
    border-radius: 35px;
    background-image: url(down-chevron.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position-x:calc(100% - 20px) ;
    background-position-y:20px;
}